{% extends 'base.html.twig' %}

{% block title %}Matchday index{% endblock %}

{% block body %}
    <h1>Matchday index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>DateFrom</th>
                <th>DateTo</th>
                <th>Created</th>
                <th>Updated</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for matchday in matchdays %}
            <tr>
                <td>{{ matchday.id }}</td>
                <td>{{ matchday.name }}</td>
                <td>{{ matchday.dateFrom ? matchday.dateFrom|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ matchday.dateTo ? matchday.dateTo|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ matchday.created ? matchday.created|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ matchday.updated ? matchday.updated|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_matchday_show', {'id': matchday.id}) }}">show</a>
                    <a href="{{ path('app_matchday_edit', {'id': matchday.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_matchday_new') }}">Create new</a>
{% endblock %}
