{% extends 'base.html.twig' %}

{% block content %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success sport-alert">{{ message }}</div>
    {% endfor %}

    <div class="sport-full-wrapper">

        <div class="sport-full-card">
            <div class="sport-full-header">
                <h2>Zmiana hasła</h2>
                <p class="sport-subtitle">Panel zawodnika – Liga Typerów</p>
            </div>

            {{ form_start(form) }}

            <div class="sport-field">
                {{ form_label(form.password.first) }}
                {{ form_widget(form.password.first) }}
            </div>

            <div class="sport-field">
                {{ form_label(form.password.second) }}
                {{ form_widget(form.password.second) }}
            </div>

            <button class="sport-btn">Zapisz nowe hasło</button>

            {{ form_end(form) }}
        </div>

    </div>

{% endblock %}