{% extends 'base.html.twig' %}

{% block content %}

    <table class="tab_types">
        <tr>
            <th></th>
            <th>Gracz</th>
            {% for i in 0..14 %}
                <th class="th_table_pkt">{{ loop.index }}</th>
            {% endfor %}
            <th class="th_table_sum">Suma</th>
        </tr>

        {% for key, point in points %}
            <tr>
                <td class="table_loop">{{ loop.index }}.</td>
                {% set sum = 0 %}
                <td class="table_username">{{ point.username }}</td>

                {% for pt in point.suma %}
                    <td class="table_pkt">{{ pt }}</td>
                    {% set sum = sum + pt %}
                {% endfor %}

                {% if point.suma|length < 14 %}
                    {% for i in 0..(14 - point.suma|length) %}
                        <td></td>
                    {% endfor %}
                {% endif %}

                <td class="table_sum">{{ sum }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}


{% block infobar %}

    {# --- USTALENIE LICZBY PUSTYCH ELEMENTÓW DO WYRÓWNANIA SIATKI --- #}
    {% set totalSeasons = seasons|length %}
    {% set columns = 5 %}
    {% set remainder = totalSeasons % columns %}
    {% set fillers = remainder == 0 ? 0 : (columns - remainder) %}

    <div class="list">
        <div class="seasons-grid">

            {# --- SEZONY --- #}
            {% for i, name in seasons %}
                <div class="season-item">
                    <a href="{{ path('liga_typerow_history', {'season': i}) }}">
                        {{ i }}. {{ name }}
                    </a>
                </div>
            {% endfor %}

            {# --- PUSTE ELEMENTY DO WYRÓWNANIA OSTATNIEGO RZĘDU --- #}
            {% for i in 1..fillers %}
                <div class="season-item empty"></div>
            {% endfor %}

        </div>
    </div>

{% endblock %}