{% extends 'base.html.twig' %}

{% block content %}
    
    <table class="tab_types">
      <tr>
        <th></th>
        <th>Gracz</th>
        {% for i in 0..14 %}
        <th class="th_table_pkt">{{loop.index}}</th>
        {% endfor %}
        <th class="th_table_sum">Punkty</th>
      </tr>

        {% for key,point in points %}
            <tr>
                <td class="table_loop">{{ point.rank }}</td>


                {% set sum = 0 %}

                <td class="table_username">
                    <div class="table_username_username">
                        <span class="testbottom">{{ point.username }}
                        {% if point.lastWinner == 1 %}
                            <img class="table_img_korona" src="{{ asset('images/cup.png') }}" />
                        {% endif %}
                        {% if point.liderOfRanking == 1 %}
                            <img class="table_img_puchar" src="{{ asset('images/crown.png') }}" />
                        {% endif %}
                        </span>
                    </div>
                    <div class="table_username_ranking">
                        Ranking: {{ point.ranking }}
                    </div>
                </td>

                    {% for pt in point.suma %}
                        <td class="table_pkt">
                            {{ pt }}
                        </td>
                    {% set sum = sum + pt %}
                {% endfor %}

                {# tutaj uzupełniam o brakujące kolumny #}
                {# ale tylko gdy nie ma jeszcze punktów za 15 kolejkę #}
                {% if point.suma|length < 15 %}
                    {% for i in 0..(14-point.suma|length) %}
                        <td class="table_pkt"></td>
                    {% endfor %}
                {% endif %}

                <td class="table_sum">{{ sum }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
