{% extends 'base.html.twig' %}

{% block title %}Statistic{% endblock %}

{% block content %}
    <h1>Statistic</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ statistic.id }}</td>
            </tr>
            <tr>
                <th>Match2</th>
                <td>{{ statistic.match2 }}</td>
            </tr>
            <tr>
                <th>Match4</th>
                <td>{{ statistic.match4 }}</td>
            </tr>
            <tr>
                <th>TotalPoints</th>
                <td>{{ statistic.totalPoints }}</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>{{ statistic.position }}</td>
            </tr>
            <tr>
                <th>NumOfQue</th>
                <td>{{ statistic.numOfQue }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ statistic.created ? statistic.created|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{{ statistic.updated ? statistic.updated|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_statistic_index') }}">back to list</a>

    <a href="{{ path('app_statistic_edit', {'id': statistic.id}) }}">edit</a>

    {{ include('statistic/_delete_form.html.twig') }}
{% endblock %}
