{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block content %}
    <h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Roles</th>
                <th>Password</th>
                <th>Phone</th>
                <th>NumberOfWins</th>
                <th>Status</th>
                <th>Priority</th>
                <th>LastActivityAt</th>
                <th>RankingPosition</th>
                <th>MaxPointsPerQueue</th>
                <th>MinPointsPerQueue</th>
                <th>Nick</th>
                <th>FavoritePolandTeam</th>
                <th>FavoriteForeignTeam</th>
                <th>NumberOfFirstPlaces</th>
                <th>NumberOfSecondPlaces</th>
                <th>NumberOfThirdPlaces</th>
                <th>LastWinner</th>
                <th>LiderOfRanking</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Shortname</th>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.numberOfWins }}</td>
                <td>{{ user.status }}</td>
                <td>{{ user.priority }}</td>
                <td>{{ user.lastActivityAt ? user.lastActivityAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ user.rankingPosition }}</td>
                <td>{{ user.maxPointsPerQueue }}</td>
                <td>{{ user.minPointsPerQueue }}</td>
                <td>{{ user.nick }}</td>
                <td>{{ user.favoritePolandTeam }}</td>
                <td>{{ user.favoriteForeignTeam }}</td>
                <td>{{ user.numberOfFirstPlaces }}</td>
                <td>{{ user.numberOfSecondPlaces }}</td>
                <td>{{ user.numberOfThirdPlaces }}</td>
                <td>{{ user.lastWinner }}</td>
                <td>{{ user.liderOfRanking }}</td>
                <td>{{ user.created ? user.created|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ user.updated ? user.updated|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ user.shortname }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <a href="{{ path('app_user_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="25">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_user_new') }}">Create new</a>
{% endblock %}
